.keyvalues{
    margin-top: 8.0rem;
}
.keyvalue{
    background: $base-white;
    padding-top: $sp-xxxslg;
    padding-bottom: $sp-xxxslg;
    padding-left: $sp-lg;
    padding-right: $sp-lg;
    border-top: 1px solid $base-grey;
    border-bottom: 1px solid $base-grey;
    display: flex;
    align-items: center;
    .value{
        display: flex;
        align-items: center;
        .value-img{
            margin-right: $sp-sm;
            .illustration{
                max-width: 80px;
            }
        }
        .value-text{
            .title{
                margin-bottom: 0;
            }
            .desc{
                margin-bottom: 0;
                padding-right: $sp-sm;
            }
        }
        &:nth-child(2){
            margin-left: $sp-lg;
            margin-right: $sp-lg;
        }
    }
}

@media (max-width: 1199.98px) {
    .keyvalue{
        .value{
            display: block;
            .value-img{
                margin-bottom: 1.6rem;
            }
            &:nth-child(2){
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 767.98px) {
    .keyvalue{
        flex-direction: column;
        .keyvalue-item{
            margin-bottom: 3.2rem;
        }
    }
    
}
@media (max-width: 575.98px) {
    .keyvalue{
        flex-direction: column;
        .keyvalue-item{
            margin-bottom: 3.2rem;
        }
    }
}