header.header{
    background: $base-white;
    min-height: 5.6em;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1000;
    border-bottom: 1px solid $base-iron;
    .logo{
        width: 96px;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        .nav-inner{
            display: flex;
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
            li{
                a.nav-item{
                    margin-left:$sp-sm;
                    padding-left: $sp-sm;
                    padding-right: $sp-sm;
                }
            }
        }
    }
}