// Base Colors
$base-white: #FFFFFF;
$base-grey: #F4F5F6;
$base-iron: #E7E8EA;
$cta-blue: #3A56F3;
$cta-blue-hover: #526BF4;
$cta-secondary: #FAFAFA;
$cta-secondary-hover: #FAFAFA;
$cta-orange: #F77512;
$cta-orange-hover: #F88935;

// Font Colors
$font-title: #232A4D;
$font-body: #44485F;
$font-meta-data: #7C7F8D;
$font-placeholder: #979AA5;

// Depth Colors
$depth-10-color: RGBA(30, 30, 36, 0.10);
$depth-100-color: RGBA(30, 30, 36, 0.14);
$depth-1000-color: RGBA(30, 30, 36, 0.25);

// Font Familiy
$font-familiy-heading: 'Inter', sans-serif;
$font-familiy-body: 'Inter', sans-serif;

// Depth
$depth-10: 0 2px 6px 0 $depth-10-color;
$depth-100: 0 4px 8px 0 $depth-100-color;
$depth-1000: 0 6px 10px 0 $depth-1000-color;

// Spacer
$sp-xxxsm: 0.4rem;
$sp-xxsm: 0.8rem;
$sp-xsm: 1.2rem;
$sp-sm: 1.6rem;
$sp-md: 2.0rem;
$sp-lg: 2.4rem;
$sp-xlg: 3.2rem;
$sp-xxlg: 3.6rem;
$sp-xxxlg: 4.0rem;
$sp-xxxslg: 4.8rem;

// Boder Radius
$radius-sm: 0.4rem;

%heading1, %heading2, %heading3, %heading4, 
%font-type-title-md, %font-type-title-sm{
    font-family: $font-familiy-heading;
    font-weight: 500;
    color: $font-title;
}
%heading1{
    font-size: 3.6rem;
    line-height: 4.8rem;
}
%heading2{
    font-size: 3.2rem;
    line-height: 4.8rem;
}
%heading3{
    font-size: 2.6rem;
    line-height: 4.0rem;
}
%heading4{
    font-size: 2.2rem;
    line-height: 3.2rem;
}
%font-type-title-md{
    font-size: 2.0rem;
    line-height: 3.2rem;
}
%font-type-title-sm{
    font-size: 1.6rem;
    line-height: 2.4rem;
}
%font-type-body{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: $font-body;
}
%font-type-placeholder{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: $font-placeholder;
}
%font-type-meta-data{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: $font-meta-data;
}
%font-type-button-md{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
}

html{
    font-size: 62.5%;
}
body{
    background: $base-white;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    color: $font-body;
}
h1.h1 .h1{
    @extend %heading1;
}
h2.h2, .h2{
    @extend %heading2;
}
h3.h3, .h3{
    @extend %heading3;
}
h4.h4, .h4{
    @extend %heading4;
}
.f-title-md{
    @extend  %font-type-title-md;
}
.f-title-sm{
    @extend %font-type-title-sm;
}
.f-body{
    @extend %font-type-body;
}
.f-placeholder{
    @extend %font-type-placeholder;
}
.f-meta-data{
    @extend %font-type-meta-data;
}
.depth-10{
    box-shadow: $depth-10;
}
.depth-100{
    box-shadow: $depth-100;
}
.depth-1000{
    box-shadow: $depth-1000;
}
.btn{
    @extend %font-type-button-md;
    &.btn-md{
        padding-top: $sp-xxsm;
        padding-bottom: $sp-xxsm; 
    }
    &.btn-full{
        width: 100%;
    }
    &.btn-50{
        width: 50%;
    }
    &.btn-primary{
        background: $cta-orange;
        color: $base-white;
        border: 1px solid $cta-orange-hover;
        &:hover{
            background: $cta-orange-hover;
        }
    }
    &.btn-secondary{
        background: $base-white;
        color: $cta-blue;
        border: 1px solid $cta-blue;
        &:hover{
            background: $cta-secondary;
            color: $cta-blue-hover;
            border-color: $cta-blue-hover;
        }
    }
    &.btn-icon{
        i{
            margin-right: $sp-xxsm;
        }
    }
}
.container{
    max-width: 1140px;
    padding-left: 0;
    padding-right: 0;
}